.recipe-list-container {
    display: flex;
    flex-direction: column;   
}

.recipe-list-header {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;;
    /* jupxify-content: space-between; */
    /* align-items: center; */
}

.recipe-list-servings {
    display: flex;
    gap: 10px;
    /* jupxify-content: space-between; */
    align-items: center;
}

.recipe-list-content {
    background-color: aqua;
}

.recipe-list-ingredientContainer {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}