.recipe-list {
    &-container {
        display: flex;
        flex-direction: column;
    }

    &-searchContainer {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    &-itemContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        gap: 20px;
    }

    &-item {
        padding: 10px;
    }
}
