.app-container {
    display: flex;
    flex-direction: column;
}

.app-header {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;;
    /* jupxify-content: space-between; */
    /* align-items: center; */
}

.app-header-servings {
    display: flex;
    gap: 10px;
    /* jupxify-content: space-between; */
    align-items: center;
}

.app-content {
    background-color: aqua;
}