.recipe-detail {
    &-container {
        display: flex;
        flex-direction: column;
    }

    &-header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    &-servings {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &-ingredientsContainer {
        // background-color: pink;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    &-ingredient {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
}

